@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');


.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #DB6C79;
  height: 300px;
  border-radius: 10px;
  padding: 0.25rem;
  margin-bottom: 5px;
  font-family: 'Kiwi Maru', serif;
  color: white;
}

h1 {

}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
