<div class="grid">
  <h1>Biglietto</h1>
  <!-- {{postoAttuale | json}} -->
  <form #form="ngForm" (submit)="prenota.emit(info)">
    <div> Posto <input type="text" name="codice" [value]="Posto"> </div>
    <div> Prenota <input type="submit" name="prenota" value="Prenota"> </div>
    <div> Epiteto <input type="text" name="nominativo" value="" [(ngModel)]="info.nome"> </div>
    <div> Cancella <input type="reset" name="cancella" value="Cancella" (click)="cancella.emit(info)"> </div>
  </form>
</div>
